body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(1, 143, 143); 
}
  
::-webkit-scrollbar-thumb {
    background: rgb(1, 143, 143); 
    border-radius: 5px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
}

