/* Experience */

.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    padding-top: 50px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: rgb(4,5,7);
}

.experience-container h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 0 rgb(1, 143, 143), 1px -1px 0 rgb(1, 143, 143), -1px 1px 0 rgb(1, 143, 143), -1px -1px 0 rgb(1, 143, 143);
}

.experience-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.experience-content-container .experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40%;
}


.experience-content-container .experience-content .job-image-container{
    display: flex;
    align-items: center;
    height: 100px;
    width: 150px;
}

.experience-content-container .experience-content .job-image-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.experience-content-container .experience-content .job-description-container {
    height: 400px;
    width: 400px;
}

.experience-content-container .experience-content .job-description-container h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.experience-content-container .experience-content .job-description-container h4 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.experience-content-container .experience-content .job-description-container li {
    margin: 2px;
    list-style: none;
}

@media (max-width: 375px) {

    .experience-container {
        display: flex;
        align-items: center;
        height: 200vh;
        width: 375px;
    }

    .experience-content-container {
        flex-wrap: wrap;
        width: 375px;
    }

    .experience-content-container .experience-content .job-description-container h3 {
        font-size: 15px;
    }

    .experience-container h2 {
        font-size: 25px;
    }

    .experience-content-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        width: 375px;
        background-color: lightpink;
    }

    .experience-content-container .experience-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 640px;
        width: 350px;
        background-color: rgb(25, 243, 123);
        font-size: 15px;
        border: 1px solid #000;
    }

    .experience-content-container .experience-content .job-image-container {
        height: 100px;
        width: 200px;
        background-color: coral;
    }

    .experience-content-container .experience-content .job-description-container {
        width: 100%;

    }

    .experience-content-container .experience-content .job-description-container li {
        height: 50px;
        width: 340px; 
        flex-wrap: wrap;
        background-color: rgb(0, 0, 0);
    }

    .experience-content-container .experience-content .job-description-container h3 {
        background-color: paleturquoise;
    }

    .experience-content-container .experience-content .job-description-container h4 {
        background-color: green;
    }

}