/* Experience */

.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.experience-container .experience-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.experience-container .experience-content-container h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.experience-container .experience-content-container .experience-main-container {
    display: flex;
    justify-content: space-around;
    height: 90%;
    width: 100%;

}

.experience-container .experience-content-container .experience-main-container .experience-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 40%;
}

/* JOB LOGO CONTAINER ---------------------------------------------------------------------------------- */

.experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a:hover {
    box-shadow: 0 0 5px #000;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a img {
    height: 60px;
    width: 60px;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a img:hover {
    height: 70px;
    width: 70px;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container h4 {
    margin-left: 15px;
    font-weight: bold;
}

/* JOB DESCRIPTION CONTAINER --------------------------------------------------------------------------- */

.experience-container .experience-content-container .experience-main-container .experience-content .job-description-container {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-description-container h5 {
    font-size: 20px;
    font-weight: bold;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-description-container h4 {
    font-size: 15px;
    font-weight: bold;
    line-height: 2.0;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-description-container article {
    flex-wrap: wrap;
    width: 100%;
}

.experience-container .experience-content-container .experience-main-container .experience-content .job-description-container article p {
    line-height: 2.0;
}

/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 400px) {
    .experience-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 800px;
    }
    
    .experience-container .experience-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

    }
    
    .experience-container .experience-content-container h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
    
    .experience-container .experience-content-container .experience-main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 90%;
        width: 100%;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 90%;
    }

    .experience-container .experience-content-container .experience-main-container .experience-content:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 60%;
        width: 90%;

    }
    
    /* JOB LOGO CONTAINER ---------------------------------------------------------------------------------- */
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container{
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
    }

    .experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container h4 {
        font-size: 12px;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a:hover {
        box-shadow: 0 0 5px #000;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a img {
        height: 40px;
        width: 40px;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container a img:hover {
        height: 70px;
        width: 70px;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-logo-container h4 {
        margin-left: 16px;
        font-weight: bold;
        font-size: 16px;
    }
    
    /* JOB DESCRIPTION CONTAINER --------------------------------------------------------------------------- */
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-description-container {
        height: 100%;
        width: 90%;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-description-container h5 {
        font-size: 13px;
        font-weight: bold;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-description-container h4 {
        font-size: 16px;
        font-weight: bold;
        line-height: 2.0;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-description-container article {
        flex-wrap: wrap;
        width: 100%;
    }
    
    .experience-container .experience-content-container .experience-main-container .experience-content .job-description-container article p {
        font-size: 14px;
    }
}