/* Home */

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(4,5,7);
}

.home-container h2 {
    text-align: start;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 80vw;
}

.home-content img {
    position: relative;
    height: 100%;
    width: 500px;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
}

.welcome-container article {
    height: 250px;
    width: 400px;
    background-color: rgb(4,5,7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    border-radius: 10px;
    text-align: start;
}
