/* Home */

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 90vh;
    width: 100%;

}

.home-container h2 {
    text-align: start;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.home-content {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home-content img {
    position: relative;
    height: 80%;
    width: 40%;
}

.welcome-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 60%;
}

.welcome-container article {
    height: 300px;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: start;
}

.welcome-container article p {
    line-height: 1.5;
}

/* Contact Container */

.home-contact-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 200px;
    width: 100%;
}

.contact-images-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 300px;
}

.contact-images-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

/* .contact-images-container a:hover {
    box-shadow: 0 0 3px #fff;
} */

.contact-images-container a img {
    height: 30px;
    width: 30px;
}

.contact-images-container a img:hover {
    height: 33px;
    width: 33px;
    opacity: 0.7;
}


/* Iphone SE */

@media (min-width: 375px) {
    .home-content {
        display: flex;
        flex-direction: column;
    }

    .home-content img {
        position: relative;
        height: 70%;
        width: 100%;
    }

    .welcome-container {
        height: 30%;
        width: 100%;
    }

    .welcome-container article {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 90%;
    }

    .welcome-container article p {
        font-size: 13px;
    }

}

@media (min-width: 667px) {

    .home-content {
        display: flex;
        flex-direction: row;
    }

    .home-content img {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .welcome-container {
        height: 35%;
        width: 100%;
    }

    .welcome-container article {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 90%;
    }

    .welcome-container article p {
        font-size: 12px;
    }
}

/* iPad Air */

@media (min-width: 820px) {

    .home-content {
        display: flex;
        flex-direction: column;
    }

    .home-content img {
        position: relative;
        height: 65%;
        width: 100%;
    }

    .welcome-container {
        height: 35%;
        width: 100%;
    }

    .welcome-container article {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 90%;
    }

    .welcome-container article p {
        font-size: 30px;
    }
}

/* Monitor Philips */

@media (min-width: 1002px) {
    .home-content {
        display: flex;
        flex-direction: row;
    }

    .home-image-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 80%;
        width: 100%;
        background-color: rgb(4,5,7);
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .home-content img {
        position: relative;
        height: 100%;
        width: 65%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .welcome-container {
        height: 100%;
        width: 100%;
    }

    .welcome-container article {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 60%;
    }

    .welcome-container article p {
        font-size: 18px;
        line-height: 1.5;
    }

}