/* Menu */

header .menu-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #1a1a1a;
    box-shadow: 0 0 0 #000, 0 0 10px #000, 0 0 0 #000, 0 0 0 #000;
}

header .menu-nav-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50vw;
    top: 0;
}

header .menu-nav-container .menu-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}

header .menu-nav-container .menu-container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

header .menu-nav-container .menu-container ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

header .menu-nav-container .menu-container ul li a:hover {
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

/* 

Smartphones com telas pequenas: Esses dispositivos têm telas com menos de 600 pixels de largura. O tamanho mais comum é 320x480 pixels.

Smartphones com telas médias: Esses dispositivos têm telas com larguras entre 600 pixels e 768 pixels. O tamanho mais comum é 640x960 pixels.

Tablets: Tablets têm telas maiores que smartphones, geralmente entre 768 pixels e 1024 pixels de largura. O tamanho mais comum é 768x1024 pixels.

Laptops e desktops: Esses dispositivos têm telas ainda maiores, geralmente acima de 1024 pixels de largura. Alguns dos tamanhos mais comuns são 1366x768, 1440x900, 1920x1080 e 2560x1440 pixels.

*/

/* 

SMALL: (min-width: 300px) and (max-width: 375px)
MEDIUM: (min-width: 375px) and (max-width: 

*/

/* Iphone SE */

@media (min-width: 300px) and (max-width: 375px){

    header .menu-nav-container {
        height: 30px;
    }

    header .menu-nav-container .menu-container {
        height: 100%;
        width: 100%;
    }

    header .menu-nav-container .menu-container ul {
        height: 100%;
        width: 100%;
    }

    header .menu-nav-container .menu-container ul li a {
        font-size: 12px;
        font-weight: normal;
    }
}

@media (min-width: 600px) and (max-width: 667px) {

    header .menu-nav-container {
        height: 30px;
    }

    header .menu-nav-container .menu-container {
        height: 20px;
        width: 100%;
    }

    header .menu-nav-container .menu-container ul {
        height: 100%;
        width: 375px;
    }

    header .menu-nav-container .menu-container ul li a {
        font-size: 12px;
        font-weight: normal;
    }

}


/* iPad Air */

/* @media (max-width: 820px) {
    header .menu-nav-container {
        height: 50px;
    }

    .menu-container {
        height: 40px;
        width: 100%;
    }

    .menu-container a {
        font-size: 20px;
        font-weight: normal;
    }
}

@media (max-width: 1180px) {
    header .menu-nav-container {
        height: 50px;
    }

    .menu-container {
        height: 40px;
        width: 100%;
    }

    .menu-container a {
        font-size: 20px;
        font-weight: normal;
    }
} */

/* Monitor Philips */

/* @media (max-width: 1002px) {
    header .menu-nav-container {
        height: 30px;
    }

    .menu-container {
        height: 30px;
        width: 50%;
    }

    .menu-container ul {
        height: 20px;
    }

    .menu-container ul li {
        height: 20px;
    }

    .menu-container ul li a {
        font-size: 13px;
        font-weight: normal;
    }

} */

/* 
    .hamburger-menu-container {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 25px;
        width: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .hamburger-menu-container span {
        height: 3px;
        width: 20px;
        background-color: #fff;
        border-radius: 10px;
    }
*/