/* Menu */

header .menu-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50vw;
    padding: 5px;
    top: 0;
    z-index: 2;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.8);
}

.menu-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}

.menu-container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-container a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.menu-container a:hover {
    color: rgb(1, 143, 143);
    transition: 400ms;
    cursor: pointer;
}

/* .menu-container a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 0 rgb(1, 143, 143), 1px -1px 0 rgb(1, 143, 143), -1px 1px 0 rgb(1, 143, 143), -1px -1px 0 rgb(1, 143, 143);
} */

/* .menu-container a:hover {
    text-shadow: 1px 1px 3px rgb(1, 143, 143), 1px -1px 3px rgb(1, 143, 143), -1px 1px 3px rgb(1, 143, 143), -1px -1px 3px rgb(1, 143, 143);
    transition: 400ms;
    cursor: pointer;
} */

/* Iphone SE */

@media (max-width: 375px) {

    header .menu-nav-container {
        height: 30px;
        background-color: rgb(148, 37, 223);
    }

    .menu-container {
        height: 20px;
        width: 70%;
    }

    .menu-container ul {
        width: 90%;
    }

    .menu-container a {
        font-size: 10px;
        font-weight: normal;
    }

}

@media (min-width: 1002px) {
    header .menu-nav-container {
        height: 40px;
        background-color: aqua;
    }

    .menu-container {
        height: 30px;
    }
}