/* Skills */

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CONTENT CONTAINER */

.skills-content-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.skills-container .skills-content-container h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.skills-container .skills-content-container .main-skills-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.skills-container .skills-content-container .main-skills-content .skills-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 450px;
    width: 380px;
    margin: 5px;
    border: 1px solid #3f3f3f;
    border-radius: 20px;
}

.skills-container .skills-content-container .main-skills-content .skills-content:hover {
    box-shadow: 0 0 5px #3f3f3f;
    transition: 400ms;
}

/* TITLE CONTAINER */

.skills-container .skills-content-container .main-skills-content .skills-content .skills-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 350px;
    border-radius: 15px;
}

.skills-container .skills-content-container .main-skills-content .skills-content .skills-title-container h3 {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/* IMAGE CONTAINER */

.skills-container .skills-content-container .main-skills-content .skills-content .skills-images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 350px;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 20px;
}

.skills-container .skills-content-container .main-skills-content .skills-content .skills-images img {
    height: 35px;
    width: 35px;
    margin: 10px;
    cursor: pointer;
}

.skills-container .skills-content-container .main-skills-content .skills-content .skills-images img:hover {
    transition: 400ms;
    opacity: 0.5;
}

/* DESCRIPTION */

.skills-container .skills-content-container .main-skills-content .skills-content .description-container {
    height: 250px;
    width: 350px;
    padding: 10px;
}

.skills-container .skills-content-container .main-skills-content .skills-content .description-container p {
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
}

@media (min-width: 300px) and (max-width: 400px) {

.skills-container {
    height: 1200px;
    padding-top: 40px;
}

/* CONTENT CONTAINER */

.skills-content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.skills-container .skills-content-container h2 {
    font-size: 15px;
}

.skills-container .skills-content-container .main-skills-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.skills-container .skills-content-container .main-skills-content .skills-content {
    height: 33%;
    width: 100%;
    border: none;
    border-top: 1px solid #3f3f3f;
    border-radius: 0;
}

/* TITLE CONTAINER */

.skills-container .skills-content-container .main-skills-content .skills-content .skills-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
}

.skills-container .skills-content-container .main-skills-content .skills-content .skills-title-container h3 {
    font-size: 12px;
}

/* IMAGE CONTAINER */

.skills-container .skills-content-container .main-skills-content .skills-content .skills-images {
    height: 80px;
    width: 90%;
    border-radius: 0;
}

.skills-container .skills-content-container .main-skills-content .skills-content .skills-images img {
    height: 25px;
    width: 25px;
}

/* DESCRIPTION */

.skills-container .skills-content-container .main-skills-content .skills-content .description-container {
    height: 250px;
    width: 90%;
    padding: 10px;
}

.skills-container .skills-content-container .main-skills-content .skills-content .description-container p {
    font-size: 12px;
}

}

@media (min-width: 400px) and (max-width: 500px) {

    .skills-container {
        height: 1200px;
        padding-top: 70px;
    }
    
    /* CONTENT CONTAINER */
    
    .skills-content-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .skills-container .skills-content-container h2 {
        font-size: 17px;
    }
    
    .skills-container .skills-content-container .main-skills-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    .skills-container .skills-content-container .main-skills-content .skills-content {
        height: 33%;
        width: 100%;
        border: none;
        border-top: 1px solid #3f3f3f;
        border-radius: 0;
    }
    
    /* TITLE CONTAINER */
    
    .skills-container .skills-content-container .main-skills-content .skills-content .skills-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 90%;
    }
    
    .skills-container .skills-content-container .main-skills-content .skills-content .skills-title-container h3 {
        font-size: 14px;
    }
    
    /* IMAGE CONTAINER */
    
    .skills-container .skills-content-container .main-skills-content .skills-content .skills-images {
        height: 80px;
        width: 90%;
        border-radius: 0;
    }
    
    .skills-container .skills-content-container .main-skills-content .skills-content .skills-images img {
        height: 27px;
        width: 27px;
    }
    
    /* DESCRIPTION */
    
    .skills-container .skills-content-container .main-skills-content .skills-content .description-container {
        height: 250px;
        width: 90%;
        padding: 10px;
    }
    
    .skills-container .skills-content-container .main-skills-content .skills-content .description-container p {
        font-size: 13px;
    }
    
}

@media (min-width: 500px) and (max-width: 600px) {
    
    /* CONTENT CONTAINER */
    
    .skills-container .skills-content-container h2 {
        font-size: 17px;
    }
    
    /* TITLE CONTAINER */
    
    .skills-container .skills-content-container .main-skills-content .skills-content .skills-title-container h3 {
        font-size: 17px;
    }
    
    /* IMAGE CONTAINER */
    
    .skills-container .skills-content-container .main-skills-content .skills-content .skills-images img {
        height: 32px;
        width: 32px;
    }
    
    /* DESCRIPTION */
    
    .skills-container .skills-content-container .main-skills-content .skills-content .description-container p {
        font-size: 17px;
    }
    
}