/* Bar Top */

.top-container {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-container img {
    width: 23px;
    opacity: 1.0;
}

.top-container img:hover {
    opacity: 0.5;
    transition: 400ms;
}

/* FLAG */

.flags-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    z-index: 1;
}

.flags-container a {
    display: flex;
    align-items: center;
}