/* Bar Top */

/* .top-container {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-container img {
    width: 23px;
    opacity: 1.0;
}

.top-container img:hover {
    opacity: 0.5;
    transition: 400ms;
} */

/* FLAG */

.flags-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    z-index: 1;
}

.flags-container a {
    display: flex;
    align-items: center;
}

/* Iphone SE */

@media (min-width: 375px) {
    nav {
        height: 20px;
        background-color: aqua;
    }
}

/* PC - HP - w-916px X h-881px */

@media (min-width: 916px) {
    nav {
        height: 50px;
        background-color: rgb(226, 43, 43);
    }
}

/* PC - Monitor Philips w-1002 */

@media (min-width: 1002px) {
    nav {
        height: 30px;
        background-color: blueviolet;
    }
}

